[project]
name = "pokeapi"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.123.5",
    "httpx>=0.28.1",
    "uvicorn>=0.38.0",
]
